.flaticon-building-2:before { content: "\f100"; }
.flaticon-city:before { content: "\f101"; }
.flaticon-building:before { content: "\f102"; }
.flaticon-buildings:before { content: "\f103"; }
.flaticon-construction:before { content: "\f104"; }
.flaticon-container-crane:before { content: "\f105"; }
.flaticon-hook:before { content: "\f106"; }
.flaticon-real-estate-agent:before { content: "\f107"; }
.flaticon-seller:before { content: "\f108"; }
.flaticon-house:before { content: "\f109"; }
.flaticon-building-1:before { content: "\f10a"; }
.flaticon-contract:before { content: "\f10b"; }
.flaticon-mortgage:before { content: "\f10c"; }
.flaticon-mortgage-loan:before { content: "\f10d"; }
.flaticon-house-key:before { content: "\f10e"; }
.flaticon-home:before { content: "\f10f"; }
.flaticon-asset:before { content: "\f110"; }
.flaticon-home-1:before { content: "\f111"; }
.flaticon-service:before { content: "\f112"; }
.flaticon-real-estate:before { content: "\f113"; }
.flaticon-investment:before { content: "\f114"; }
.flaticon-condominium:before { content: "\f115"; }
.flaticon-real-estate-1:before { content: "\f116"; }
.flaticon-rent:before { content: "\f117"; }
.flaticon-property:before { content: "\f118"; }
.flaticon-money:before { content: "\f119"; }
.flaticon-city-1:before { content: "\f11a"; }
.flaticon-maid:before { content: "\f11b"; }
.flaticon-house-cleaning:before { content: "\f11c"; }
.flaticon-cleaner:before { content: "\f11d"; }
.flaticon-cleaning-service:before { content: "\f11e"; }
.flaticon-cleaning-cart:before { content: "\f11f"; }
.flaticon-cleaning-service-1:before { content: "\f120"; }
.flaticon-cleaning-cart-1:before { content: "\f121"; }
.flaticon-cleaner-1:before { content: "\f122"; }
.flaticon-house-cleaning-1:before { content: "\f123"; }
.flaticon-suit:before { content: "\f124"; }
.flaticon-car-service:before { content: "\f125"; }
.flaticon-car-service-1:before { content: "\f126"; }